[Unit]
Description=gunicorn daemon
After=network.target
[Service]
User=kirill
WorkingDirectory=/home/kirill/infra_sprint1/backend/
ExecStart=/home/kirill/infra_sprint1/backend/venv/bin/gunicorn --bind 0.0.0.0:8080 kittygram_backend.wsgi
WantedBy=multi-user.target
